<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makeus.dogdog">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".src.joinmember.step7.Step7Activity"></activity>
        <activity android:name=".src.joinmember.step3repeat.Step3ReeatActivity"></activity>
        <activity android:name=".src.joinmember.step6.Step6Activity" />
        <activity android:name=".src.joinmember.step5.Step5Activity" />
        <activity android:name=".src.joinmember.step4.Step4Activity" />
        <activity android:name=".src.joinmember.step3.Step3Activity" />
        <activity android:name=".src.joinmember.JoinActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".src.HomeDogDog.startWalking.startWalking" />
        <activity android:name=".src.HomeDogDog.HomeActivity" >

        </activity>
        <activity android:name=".src.joinmember.step2.Step2Activity" />
        <activity android:name=".src.joinmember.step1.Step1Activity" />
        <activity android:name=".src.calendar.MainActivity">

        </activity>
        <activity android:name=".src.calendar.TaTCalendarActivity"/>
        <activity android:name=".src.calendar.TaTCalendarWeekActivity"/>

    </application>

</manifest>